{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}
{% block content %}	


            <!-- Single Page Start -->
            <div class="single">
                <div class="container">
                    <div class="section-header">
                        <p>Chapter Page</p>
                        <h2>Select your chapter</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            
                            <table class="table table-bordered">
                                
                                <tbody>
                                
                                    <tr>
                                    {% for chapter in subjects_chapter %}
                                        <td><a href="/list/{{ chapter.classsubject.classes|str2url }}/{{chapter.classsubject.subject|str2url}}/{{chapter.chapter|str2url}}">{{chapter.chapter}}</a></td>
                                        {% endfor %}
                                    </tr>
                                
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Page End -->

{% endblock %}