{% extends 'blogapp/base.html' %}
{% load staticfiles %}
{% load data_load %}
{% block content %}	
            
             <!-- Team Start -->
            <div class="team">
                <div class="container">
                    
                    <div class="row">
                    {% regroup classsubjects by classes as classes_list %}
				    {% for cls in classes_list %}
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/static/blogapp/media/{{cls.list.0.classes.image}}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    
                                    <a  href="/list/{{ cls.grouper|str2url }}"><h2>{{cls.grouper}}</h2></a>
                                    
                                    {% comment %} <div class="team-social">
                                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
            </div>
            <!-- Team End -->
            
 
{% endblock %}