{% extends 'blogapp/admin/base.html' %}
{% load staticfiles %}
{% load data_load %}
{% block content %}
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Edit Basic Information</a></li>
                                <li><a href="#reviews"> Edit Account Information</a></li>
                                <li><a href="#INFORMATION">Edit Social Information</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="#" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload" method= "POST">{% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label for="name">Name <span class="required">*</span></label>
                                                                    <input name="name" type="text" class="form-control" placeholder="Name" value="{{edit_profile.name}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name">Address <span class="required"></span></label>
                                                                    <input name="address" type="text" class="form-control" placeholder="Address" value="{{edit_profile.address}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name">School Name <span class="required"></span></label>
                                                                    <input name="school" type="text" class="form-control" placeholder="School Name" value="{{edit_profile.school}}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name">Class <span class="required"></span></label>
                                                                    <select class="form-control" name="classes">
                                                                    
                                                                    {% for class in classes|classesreg %}
                                                                        {% if edit_profile.classes_id == class.id %}
                                                                            <option value="{{ class.id }}" selected>{{ class.name }}</option>
                                                                        {% else %}
                                                                            <option value="{{ class.id }}">{{ class.name }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
																	</select>
                                                                    
                                                                </div>
                                                                
                                                                <div class="form-group alert-up-pd">
                                                                    <label for="">Image<span class="required" style="width:100%;height:200px;border:1px solid #ccc;background:#ddd"></label>
                                                                        <input name="user_image" type="file" aria-required="true"  value="/static/blogapp/media/{{ edit_profile.user_image }}" name="image1">
                                                                        <div class="user_image"><img src="/static/blogapp/media/{{ edit_profile.user_image }}" alt="" id="image1" style="width:150px;height:80px;"></div>                
                                                                    </div>
                                                                 </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="form-group">
                                                                     <label for="roll">Roll <span class="required"></span></label>
                                                                    <input name="roll" type="number" class="form-control" placeholder="Roll" value="{{edit_profile.school}}">
                                                                </div>

                                                                
                                                                <div class="form-group">
                                                                    <label for="name">You Are a <span class="required"></span></label>
                                                                    <select class="form-control" name="user_type">
																			{% for user in users|user_reg %}
                                                                                {% if edit_profile.user_type == user.str %}
                                                                                    <option value="{{ user.str }}" selected>{{ user.user_type }}</option>
                                                                                {% else %}
                                                                                    <option value="{{ user.str }}">{{ user.user_type }}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
																		</select>
                                                                </div>
                                                                {% comment %} <div class="form-group edit-ta-resize res-mg-t-15">
                                                                     <label for="name">Your Dream <span class="required"></span></label>
                                                                    <textarea name="description">Lorem ipsum dolor sit amet of, consectetur adipiscing elitable. Vestibulum tincidunt est vitae ultrices accumsan.</textarea>
                                                                </div> {% endcomment %}
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="devit-card-custom">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Email" value="Admin@gmail.com">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" placeholder="Phone" value="01962067309">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Password" value="#123#123">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Confirm Password" value="#123#123">
                                                            </div>
                                                            <a href="#!" class="btn btn-primary waves-effect waves-light">Submit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="devit-card-custom">
															<div class="form-group">
																<input type="url" class="form-control" placeholder="Facebook URL" value="http://www.facebook.com">
															</div>
															<div class="form-group">
																<input type="url" class="form-control" placeholder="Twitter URL" value="http://www.twitter.com">
															</div>
															<div class="form-group">
																<input type="url" class="form-control" placeholder="Google Plus" value="http://www.google-plus.com">
															</div>
															<div class="form-group">
																<input type="url" class="form-control" placeholder="Linkedin URL" value="http://www.Linkedin.com">
															</div>
															<button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
														</div>
													</div>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}